services:

	- App\Model\OrderRepository
	- App\Model\UserFacade
	- App\Model\ProductFacade
	- App\Model\OrderFacade
	- App\Model\GoogleUserFacade
	- App\Forms\FormFactory
	- App\Forms\SignInFormFactory
	- App\Forms\SignUpFormFactory
	- App\Router\RouterFactory::createRouter

	oauth2.google.factory:
			factory: App\Google\Login\GoogleProviderFactory(%google.clientId%, %google.clientSecret%)
			autowired: false

	oauth2.google:
			type: League\OAuth2\Client\Provider\Google
			factory: @oauth2.google.factory::create()